@font-face {
  font-family: cursiveMono;
  src: url('../../fonts/CutiveMono-Regular.ttf');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: url("../../image/19th_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  position: fixed;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 60%;
  transition: 2.3s;
  background: #10170ca0;
  backdrop-filter: blur(15px);
  /* opacity: 0; */
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #30342f;
  animation: apear 1.8s ease-in-out 0.2s;
}
main h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  text-shadow: 0 0 10px #0000006f;
  /* text-align: center; */
}
main p {
  font-size: 1.2rem;
  margin: 20px 0;
  text-shadow: 0 0 10px #0000006f;
  line-height: 40px;
}
main .btn {
  padding: 15px 50px;
  border-radius: 15px;
  background: #ffffff27;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 0;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  background-color: #fff;
  /* color: #8f7834; */
  color: #30342f;
}

@keyframes apear {
  0% {
    /* transform: translateX(-50%) translateY(100px); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(-50%) translateY(-50%); */
    opacity: 1;
  }
}
