@font-face {
  font-family: cursiveMono;
  src: url("../../fonts/CutiveMono-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: cursiveMono;
}
body {
  background: url("../../image/19th_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  position: fixed;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 60%;
  transition: 2.3s;
  background: #10170ca0;
  background: #10170cb5;
  backdrop-filter: blur(15px);
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #30342f;
  animation: apear 1.8s ease-in-out 1s ;
  animation-fill-mode: forwards;
}
.necola,
.tomas {
  position: absolute;
  top: 100%;
  height: 90vh;
  left: 0px;
  /* transform: translate(-90%, -90%); */
  transform: translate(5%, -100%);
}
.tomas{
  left: 100%;
  transform: translate(-105%, -100%);
  z-index: 5;
}
main h1 {
  font-size: 2rem;
  margin: 10px 0;
  text-shadow: 0 0 10px #0000006f;
  text-transform: uppercase;
  /* text-align: center; */
}
main p img {
  float: right;
  width: 300px;
  background: linear-gradient(to top, #fff -37%, #ffffff00 79%);
  border-radius: 20px;
}
main p {
  font-size: 1rem;
  margin: 20px 0;
  text-shadow: 0 0 10px #0000006f;
  line-height: 1.5rem;
}
main p font {
  color: #ffe79a;
  /* font-size: 1.4rem; */
  font-weight: 600;
}
main .btn {
  padding: 15px 50px;
  border-radius: 15px;
  background: #ffffff27;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 0;
  text-decoration: none;
  display: inline-block;
}
main .link {
  color: inherit;
  font-size: 1.1rem;
  margin: 0 10px;
}
.btn:hover {
  background-color: #fff;
  /* color: #8f7834; */
  color: #30342f;
}

@keyframes apear {
  0% {
    /* transform: translateX(-50%) translateY(100px); */
    opacity: 0;
  }
  100% {
    /* transform: translateX(-50%) translateY(-50%); */
    opacity: 1;
  }
}

.dust{
  position: fixed;
  top: 100%;
  left: 0;
  width: 150%;
  transform: translate(0,-50%);
  /* z-index: 7; */
  backdrop-filter: drop-shadow(0 0 5px #fff);
  animation: dust 15s infinite ease-in-out;
  opacity: 1;
}
@keyframes dust {
  0%{
    transform: translate(-20%,-50%);
  }
  50%{
    transform: translate(0%,-50%);
  }
  100%{
    transform: translate(-20%,-50%);
  }
}